@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  background-color: #444450;
  font-family: "Montserrat", sans-serif;
}

main {
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  width: 33vw;
  left: 33%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  main {
    width: 100vw;
    left: 0px;
  }
}

main > div {
  padding: 30px;
  text-align: center;
  background-color: #dadaff;
  border-radius: 7px;
}

main img {
  height: 190px;
  width: 190px;
  border-radius: 50%;
}

main h1 {
  color: #000000;
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 0px;
}

main h1 > span {
  font-size: 18px;
  font-weight: 200;
  line-height: 20px;
}

main a {
  font-size: 22px;
  text-decoration: none;
  padding-right: 5px;
  transition: all ease 0.25s;
}

main .a1 {
  color: #0000ff;
}

main .a2 {
  color: #ff0000;
}

main .a3 {
  color: #000000;
}

main .a4 {
  color: #000000;
}

main .a5 {
  color: #1db954;
}

main .a6 {
  color: #7289d9;
}

main .a7 {
  color: #fc4f08;
  padding-right: 0px !important;
}

main a:hover {
  opacity: 25%;
  font-size: 22.5px;
}
